<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="contenedor">
        <div class="page">
            <h1>Bienvenido <%=  usuario.username %> </h1>
            <p>Estamos en Datos</p>
            <hr>
            <div style="max-width:250px; width:100%;">
                <div class="card" style="width: 18rem;">
                    <img src="<%=  usuario.photos[0].value %> " class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=  usuario.displayName %></h5>
                      <p class="card-text"><%=  usuario.description %>.</p>
                    </div>
                  </div>
            </div>
        </div>
        <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
    </div>
</body>
</html>