<h1>Ingrese Datos porfa</h1>
<form class="prod-form" id="add" action="/personas" method="POST">
    <div class="d-flex flex-column align-items-center">
        <input type="text" name="name" class="form-control" placeholder="Nombre" style="margin-bottom: 10px;">
        <input type="text" name="lastname" class="form-control" placeholder="Apellido" style="margin-bottom: 10px;">
        <input type="number" name="age" class="form-control" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary">Ingresar estudiante</button>
    </div>
</form>