<br>
<br>
<div>
    <h2 style="color: brown;">Historial</h2>
    <% if(personas.length > 0) {%> 
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
              </tr>
            </thead>
            <tbody>
                <% for( persona of personas ) { %>
                    <tr>
                        <th><%= persona.name %> </th>
                        <th><%= persona.lastname %></th>
                        <th><%= persona.age %></th>
                      </tr>
                <% } %>
            </tbody>
          </table>
    <% }else{ %> 
        <p class="alert alert-danger">No se encontró data, lo sentimo oome!</p>
    <% } %> 
</div>