<body>
    <h1 class="text-center text-dark">Formulario</h1>
    <form class="p-2" action="/productos/" method="POST">
        <div class="form-group p-2">
            <label class = "text-light" for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" name="title"
                placeholder="Ingresar nombre">
        </div>
        <div class="form-group p-2">
            <label class = "text-light" for="exampleInputEmail1">Precio</label>
            <input type="text" class="form-control" name="price"
                placeholder="Ingresar precio">
        </div>        
        <div class="form-group p-2">
            <div class="custom-file">
                <input type="file" name="thumbnail" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label">Seleccione imagen</label>
            </div>
        </div>



        <button class="btn btn-primary text-center m-2">Enviar</input>
    </form>
    <br>
    <a href="/productos"><button class="btn btn-success" href="listado.hbs" >Listado de Productos</button></a>
    <hr>
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>